<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >

  <title>
    Page Not Found
  </title>

  <link
    rel="stylesheet"
    href="/css/style.css"
  >

  <link
    rel="preconnect"
    href="https://fonts.googleapis.com"
  >

  <link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin
  >

  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Inter:wght@300;400;500&display=swap"
    rel="stylesheet"
  >

</head>

<body>

  <section class="notfound-page">

    <p class="notfound-mini">
      ERROR 404
    </p>

    <h1>
      Page <br>
      Not Found
    </h1>

    <p class="notfound-text">

      The page you are looking for
      does not exist or was removed.

    </p>

    <a
      href="/"
      class="notfound-btn"
    >
      Return Home
    </a>

  </section>

</body>

</html>